$progress: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
$very-dark-blue: hsl(229, 57%, 11%);
$dark-blue: hsl(228, 56%, 26%);
$gray-blue: hsl(229, 7%, 55%);
$pale-blue: hsl(243, 100%, 93%);
